<div id="about-banner"></div>
<div class="author">
  <div class="head">
    <img src="<%- theme.about.avatar %>" />
  </div>
  <h3><%- config.author %></h3>


  <center>
    <table >
      <tr>
        <td align="right">عبد المؤمن كاظم</td>
        <td align="left">AbdElmomen Kadhim</td>
      </tr>
      <tr>
        <td align="right">بَـرمِج نفسك على البرمجة</td>
        <td align="left">Program your self to program</td>
      </tr>
      <tr>
        <td align="right">"أطلب العِلمَ من المَهدِ إلى اللحد"</td>
        <td align="left">Never stop learning...</td>
      </tr>
      <tr>
        <td align="right">إقرأ</td>
        <td align="left">Read</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><%- theme.about.description %></td>
      </tr>
    </table>
  </center>


  <section class="share-icons">

    <% if (theme.social.github) { %>
      <a class="icon-github" href="<%- theme.social.github %>" target="_blank">
        <span class="fa-stack fa">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.stackoverflow) { %>
      <a class="icon-stackoverflow" href="<%- theme.social.stackoverflow %>" target="_blank">
        <span class="fa-stack fa">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.twitter) { %>
      <a class="icon-twitter" href="<%- theme.social.twitter %>" target="_blank">
        <span class="fa-stack fa">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.facebook) { %>
      <a class="icon-facebook" href="<%- theme.social.facebook %>" target="_blank">
        <span class="fa-stack fa">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
     <% if (theme.social.instagram) { %>
      <a class="icon-instagram" href="<%- theme.social.instagram %>" target="_blank">
        <span class="fa-stack fa">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %> 
     <% if (theme.social.linkedin) { %>
      <a class="icon-linkedin" href="<%- theme.social.linkedin %>" target="_blank">
        <span class="fa-stack fa">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %> 
  </section>
</div>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#about-banner').geopattern(url)

    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>