<div id="about-banner"></div>
<div class="author">
  <div class="head">
    <img src="<%- theme.about.avatar %>" />
  </div>
  <h3><%- config.author %></h3>


  <center>
    <table >
      <!-- <tr>
        <td align="right">عبد المؤمن كاظم</td>
        <td align="left">AbdElmomen Kadhim</td>
      </tr>
      <tr>
        <td align="right">بَـرمِج نفسك على البرمجة</td>
        <td align="left">Program your self to program</td>
      </tr>
      <tr>
        <td align="right">"أطلب العِلمَ من المَهدِ إلى اللحد"</td>
        <td align="left">Never stop learning...</td>
      </tr>
      <tr>
        <td align="right">إقرأ</td>
        <td align="left">Read</td>
      </tr> -->
      <tr>
        <td colspan="2" align="center"><%- theme.about.description %></td>
      </tr>
    </table>
  </center>


  <section class="share-icons">

    <% if (theme.social.github) { %>
      <a href="<%- theme.social.github %>" target="_blank">
        <span class="fa-stack fa">
          <!-- <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i> -->
          <i class="iconfont icon-github1"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.juejin) { %>
      <a href="<%- theme.social.juejin %>" target="_blank">
        <span class="fa-stack fa">
          <i class="iconfont icon-juejin"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.twitter) { %>
      <a href="<%- theme.social.twitter %>" target="_blank">
        <span class="fa-stack fa">
          <i class="iconfont icon-twitter1"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.weixin) { %>
      <a href="javascript:void(0);" class="cell poptip--top" aria-controls="<%- theme.social.weixin %>" target="_blank">
        <span class="fa-stack fa">
          <i class="iconfont icon-xiangmulan-weixinhao"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.weibo) { %>
      <a href="<%- theme.social.weibo %>" target="_blank">
        <span class="fa-stack fa">
          <i class="iconfont icon-weibo1"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.social.email) { %>
      <a href="javascript:void(0);" class="cell poptip--top" aria-controls="<%- theme.social.email %>" target="_blank">
        <span class="fa-stack fa">
          <i class="iconfont icon-youxiang1"></i>
        </span>
      </a>
    <% } %>
  </section>
</div>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#about-banner').geopattern('lhammer')

    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 48;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>